<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body style=" background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);">
    <h1 style=" color:white; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; "> Shortify. </h1>
   <br>
    <div class="container text-center">
            <form action="/shortUrls" method="POST" class="form-inline">
                <input placeholder="Enter URL" class="form-control col mr-2" type="url" name="fullUrl" id="fullUrl" required><br><button class="btn btn-primary" type="submit">Shrink It</button>
            </form>
    </div>
    <div class="container">
    <table class="table table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl =>{ %>
                <tr>
                    <td><a style="text-decoration:none; color:rgba(34, 24, 175, 0.664); font-weight: bold;" href="<%=shortUrl.full %>"><%=shortUrl.full %></a></td>
                    <td><a style="text-decoration:none; color:rgba(34, 24, 175, 0.664);  font-weight: bold;" href="<%=shortUrl.short %>"><%=shortUrl.short %></a></td>
                    <td style="text-decoration:none; color:rgba(34, 24, 175, 0.664); font-weight: bold;"><%=shortUrl.clicks %></td>
                </tr>
         <%   })  %>
            
        </tbody>
    </table>
</div>
</body>
</html>